.container {
  width: 600px;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  color: #565555;
  font-size: 14px;
  background-color: #dfdbdb;
  line-height: 24px; }

img {
  height: 80px;
  width: 100%;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0; }

ol {
  text-align: left;
  margin-top: 5px;
  padding: 5px 20px;
  list-style-position: inside; }

p {
  text-align: center;
  margin-top: 5px;
  padding: 5px 20px; }

.answerNumber {
  font-size: 1.4em;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 2px;
  margin-top: 12px;
  padding: 0 10px; }

nav p {
  padding-left: 15px;
  padding-bottom: 3px;
  text-align: left;
  background-color: white;
  margin: 0; }

.answerLine {
  border-top: 1px solid #565555;
  width: 240px;
  display: inline-block;
  height: 5px;
  padding: 0 2px;
  margin: 0; }
