// put variables and style blocks here

$textColor: #565555;
$backgroundColor: #dfdbdb;
$answerNumberTopMargin: 12px;


.container {
  width: 600px;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  color: $textColor;
  font-size: 14px;
  background-color: $backgroundColor;
  line-height: 24px;
}


.footer {
  background-color: #363434;
  color: $backgroundColor;
  font-size: .7em;
  padding-top: 30px;
}

.banner {
}
    img {
    height: 80px;
    width: 100%;
    margin-bottom: 0; 
    margin-top: 0; 
    padding: 0;
    }


ol {
  text-align: left;
  margin: 5px 0 5px 0; 
  padding: 5px 20px;
  list-style-position: inside;
}


.costsPounds {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.answer3 {
  display: inline-block;
  padding: 5px 0 5px 120px;
  margin: 5px 0;
}


p {
    text-align: center;
    margin-top: 5px; 
    padding: 5px 20px;
  }
    
    .answerNumber {
    font-size: 1.4em;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 2px;
    margin-top: $answerNumberTopMargin;
    padding: 0 10px;
    }

    nav p {
    padding-left: 15px;
    padding-bottom: 3px;
    text-align: left;
    background-color: white;
    margin: 0;
    }

.answerLine {
    border-top: 1px solid $textColor;
    width: 240px;
    display: inline-block;
    height: 5px;
    padding: 0 2px;
    margin: 0;
    }